{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Deep-in-mind</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS sheets -->
        <link rel="stylesheet" href="{% static 'css/theme_default.css' %}?{% now "U" %}">
        <link rel="stylesheet" href="{% static 'css/game.css' %}?{% now "U" %}">
        <script src="{% static 'js/game.js' %}?{% now "U" %}"></script>
        <link  rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway&display=swap">
    </head>
    <body>
        <header>
            <nav>
                <a class="name">deep-in-mind</a>
                <ul>
                    {% block content %}
                        <li><p>{{user.username}}</p></li>
                    {% endblock %}
                </ul>
            </nav>
        </header>
        <section>
            <p class="choose">Choisissez le quiz<p class="launch" onclick="gameLink()">Commencer</p></p>
            <p id="quiz_selected">Aucun quiz choisi</p>
            <p id="select">{{code}}</p>
            {% for quiz in data %}
                <p class="choose-quiz" onclick="selectQuiz()">{{quiz.title}}</p>
            {% endfor %}
        </section>
    </body>
</html>