{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Deep-in-mind</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS sheets -->
        <link rel="stylesheet" href="{% static 'css/theme_default.css' %}?{% now "U" %}">
        <link rel="stylesheet" href="{% static 'css/game.css' %}?{% now "U" %}">
        <link  rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway&display=swap">
    </head>
    <body>
        <header>
            <nav>
                <a class="name">deep-in-mind</a>
                <ul>
                    {% block content %}
                        <li><p>{{user.username}}</p></li>
                    {% endblock %}
                </ul>
            </nav>
        </header>
        <section class="game-menu">
            <div class="join">
                <p>Pour rejoindre une partie entrez le code ici :</p>
                <input type="text" class="code">
            </div>
            <div class="create">
                <a href="{% url 'gamecreation' %}">Créer une nouvelle partie</a>
            </div>
        </section>
    </body>
</html>